body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

}

.site-navigation {
  list-style: none;
}

.user-navigation-item > a {
  color: #ffffff;
  font-weight: 700;
}

.user-navigation-item > a:hover,
.user-navigation-item > a:focus {
  color: #000000;
  background-color: #f8f7f4;
}

.user-navigation-item > a:active {
  color: #000000;
  background-color: #ededed;
  box-shadow: inset 0 2px 0 1px #696969;
}


.site-navigation-item > a {
  color: #ffffff;
  font-weight: 700;
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
  color: #000000;
  background-color: #f8f7f4;
}

.site-navigation-item > a:active {
  color: #000000;
  background-color: #ededed;
  box-shadow: inset 0 2px 0 1px #696969;
}

.site-navigation-item {
  display: inline-block;
}

.catalog-submenu {
  display: none;
  list-style: none;
  background-color: #f8f7f4;
  color: #000000;
}

.catalog-submenu-item a {
  color: #000000;
  text-decoration: none;
}

.catalog-submenu-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.site-navigation-item:hover .catalog-submenu {
  display: block;
}

.submenu:focus + .catalog-submenu {
  display: block;
}

.catalog-submenu-list {
  list-style: none;
}

.catalog-submenu-item a:hover {
  background-color: #fbded7;
}

.catalog-submenu-item a:focus {
  background-color: #f6b5a5;
}

.catalog-submenu-item-current a {
  background-color: #d07058;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.36);
  border-radius: 30px;
  color: #ffffff;
}

.button:hover,
.button:focus {
  background: linear-gradient(to top, #f58669, #ec6f5e);
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgb(172, 16, 0);
}

.button:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  color: #ffffff;
  box-shadow: inset 0 2px 2px 0 rgb(148, 39, 24);
}

.modal {
  display: none;
}

.slider-list,
.sliders-page {
  list-style: none;
}

.contacts p:first-child {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.contacts p:last-child {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.banners-list {
  list-style: none;
}

.banners-item-berry {
  width: 560px;

  background-image: url("../img/banner-rasberry.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.banners-item-choco {
  width: 560px;
  background-image: url("../img/banner-shoco.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.banners-list h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.banners-list p {
  font-size: 18px;
  font-weight: 700;
}

.product-image img {
  border-radius: 50%;
}

.hits-list {
  list-style: none;
}

.product {
  color: #ffffff;

}

.product a {
  color: #ffffff;
}

.product-title {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}

.product:hover {
  background-color: #9bafa3;
}

.product-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);

}

.product-price span {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}


.features {
  background-image: url("../img/pattern-wafer-full.jpg");
  width: 1146px;
  border-radius: 15px;
  color: #323232;
}

.features p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  list-style: none;
}

.news {
  background-image: url("../img/news-background.jpg");
  width: 560px;
  border-radius: 16px;

}

.news-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.subscription {
  background-image: url("../img/post-background.png");
  width: 560px;
  color: #5a5a5a;
}

.map-contact {
  background-color: #fefefe;
  border-radius: 16px;
}

.map-contact p {
  font-size: 14px;
  line-height: 20px;
  color: #323232;

}

.map-contact b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}
.main-footer {
  color: #ffffff;
}
.main-footer-social ul{
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-info-list {
  list-style: none;
  text-align: center;
}

.info-link {
  color: #ffffff;
}
.info-link:hover,
.info-link:focus,
.info-link:active {
  color:#ffbc9e;
}
.footer-copyright-info {
  color: #ffffff;
}
